.grid {
    /* center game board */
    height: 100vh;
    justify-content: center;
    align-content: center;

    /* grid template 3 by 3 */
    display: grid;
    grid-template-rows: repeat(3, 5rem);
    grid-template-columns: repeat(3, 5rem);
}

.cell {
    border: 2px solid black;

    /* center content */
    text-align: center;
    align-content: center;
}
.cell:hover {
    cursor: pointer;
}
