@import url('typography.css');
@import url('componenets.css');

body {
    display: flex;
    height: 100vh;
    margin: 0;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 15rem;
    background-color: black;
    color: white;
}

img {
    width: 3rem;
}

.click:hover {
    cursor: pointer;
}